<nav id="top">
	<ul>
		<li><a title="Cooper Union Art Student Council" href="/" {% if page.body_id == 'index' %} class="active"{% endif %}>🎨<span class="label"> Art Student Council</span></a></li>
		<li><a title="People" href="/people/"{% if page.url contains '/people/' %} class="active"{% endif %}>💃<span class="label"> People</span></a></li>
		<li><a title="Notes" href="/notes/"{% if page.url contains '/notes/' %} class="active"{% endif %}>📄<span class="label"> Notes</span></a></li>
		<li><a title="About" href="/about/"{% if page.url contains '/about/' %} class="active"{% endif %}>📜<span class="label"> About</span></a></li>
	</ul>
</nav>