<form action="../">
<select onchange="window.open(this.options[this.selectedIndex].value,'_top')">
<option value="{{site.baseurl}}">Disorientation Home</option>
<option value="" disabled>L O W D O W N</option>
	{% for order in (1..7) %}
		{% for item in site.lowdown | sort: 'title' %}
			{% if item.order == order %}
		    <option value="{{ item.url }}" {% if page.url == item.url %}selected="selected"{% endif %}>&nbsp;&nbsp;&nbsp;&nbsp;{{ item.title }}</option>
			{% endif %}
		{% endfor %}
	{% endfor %}
<option value="" disabled>B A C K G R O U N D</option>
	{% for order in (1..15) %}
		{% for item in site.background %}
			{% if item.order == order %}
		    <option value="{{ item.url }}" {% if page.url == item.url %}selected="selected"{% endif %}>&nbsp;&nbsp;&nbsp;&nbsp;{{ item.title }}</option>
			{% endif %}
		{% endfor %}
	{% endfor %}				
<option value="" disabled>R E S O U R C E S</option>
{% for item in site.resources %}
		    <option value="{{ item.url }}" {% if page.url == item.url %}selected="selected"{% endif %}>&nbsp;&nbsp;&nbsp;&nbsp;{{ item.title }}</option>
{% endfor %}
</select>
</form>