<section class="nav-wrapper">
	<h2 class="title"><a href="{{site.baseurl}}/" class="section-heading">Disorentiation</a></h2>
	<section class="lowdown">
		<h2 class="section"><a href="{{site.baseurl}}/direct-action-and-free-cooper-union/">Lowdown</a></h2>
		<nav id="lowdown">
			<ol>
				{% for order in (1..7) %}
					{% for item in site.lowdown | sort: 'title' %}
						{% if item.order == order %}
						<li>
							<a href="{{site.baseurl}}{{item.url}}" {% if item.url == page.url %}class="current"{% endif %}>{{item.title}}</a>
						</li>
						{% endif %}
					{% endfor %}
				{% endfor %}
			</ol>
		</nav>
	</section>
	<section class="background">
		<h2 class="section"><a href="{{site.baseurl}}/the-state-of-the-cooper-union-by-mike-borkowsky/">Background</a></h2>
		<nav id="background">
			<ul>
				{% for order in (1..15) %}
					{% for item in site.background %}
						{% if item.order == order %}
							<li>
								<a href="{{site.baseurl}}{{item.url}}" {% if item.url == page.url %}class="current"{% endif %}>{{item.title}}</a>
							</li>
						{% endif %}
					{% endfor %}
				{% endfor %}				
			</ul>
		</nav>
	</section>
	<section class="resources">
		<h2 class="section"><a href="{{site.baseurl}}/timeline">Resources</a></h2>
		<nav id="resources">
			<ul>
				{% for item in site.resources %}
				<li>
					<a href="{{site.baseurl}}{{item.url}}" {% if item.url == page.url %}class="current"{% endif %}>{{item.title}}</a>
				</li>
				{% endfor %}
			</ul>
		</nav>
	</section>
</section>