// Fonts

// 	Calibre
		$calibre-light: Calibre, helvetica, sans-serif;
		$calibre-regular: Calibre, helvetica, sans-serif;
		$calibre-semibold: Calibre, helvetica, sans-serif;
		$calibre-bold: Calibre, helvetica, sans-serif;
		$calibre-black: Calibre, helvetica, sans-serif;

//	Acropolis
//		Using SVG image replacement. See section below.

// 	Tiempos
		$tiempos-regular: Tiempos Text, georgia, serif;
		$tiempos-italic: Tiempos Text, georgia, serif;