// Fonts

// 	Calibre
		$calibre-light: cli, helvetica, sans-serif;
		$calibre-regular: cr, helvetica, sans-serif;
		$calibre-semibold: csbo, helvetica, sans-serif;
		$calibre-bold: cbo, helvetica, sans-serif;
		$calibre-black: cbl, helvetica, sans-serif;

//	Acropolis
//		Using SVG image replacement. See section below.

// 	Tiempos
		$tiempos-regular: ttr, georgia, serif;
		$tiempos-italic: ttri, georgia, serif;
