<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	<meta name="viewport" content="width = device-width, initial-scale = 1.0,maximum-scale = 1.0" />
	<link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
	<script>
		// Picture element HTML5 shiv
		document.createElement( "picture" );
	</script>
	<script src="{{ site.baseurl }}/js/picturefill.min.js" async></script>
</head>
<body id="{{page.url | replace: "/", "" | replace: ".html", ""}}" class="{{page.collection}}">
{% if page.body_id != "index" %}
<nav id="main">
	<span class="heading"><h2 class="title"><a href="{{ site.baseurl }}" class="section-heading">Disorientation</a></h2></span>
	<a href="#" id="menu-toggle" alt="Menu"><span></span></a>
	<section style="display:none;" class="nav-wrapper">
		<section class="lowdown">
			<span class="heading"><h2 class="section">Lowdown</h2></span>
			<ol>
				<li><a href="{{ site.baseurl }}/direct-action-and-free-cooper-union/">Direct Action &amp; Free Cooper Union</a></li>
				<li><a href="{{ site.baseurl }}/ivory-tower/">Ivory Tower</a></li>
				<li><a href="{{ site.baseurl }}/working-group/">Working Group</a></li>
				<li><a href="{{ site.baseurl }}/legal-action-and-the-committee-to-save-cooper-union/">Legal Action &amp; The Committee to Save Cooper Union</a></li>
				<li><a href="{{ site.baseurl }}/code-of-conduct-and-campus-militarization/">Code of Conduct &amp; Campus Militarization</a></li>
				<li><a href="{{ site.baseurl }}/vision/">Vision Platter Deluxe</a></li>
			</ol>
		</section>
		<section class="background">
			<span class="heading"><h2 class="section">Background</h2></span>
			<nav></nav>
			<ul>
				<li><a href="{{ site.baseurl }}/the-state-of-the-cooper-union-by-mike-borkowsky/">The State of the Cooper Union</a></li>
				<li><a href="{{ site.baseurl }}/open-letter-to-president-bharucha-by-walid-raad/">Open Letter to President Bharucha</a></li>
				<li><a href="{{ site.baseurl }}/the-loss-of-cooper-union-by-jordan-bowen/">The Loss of Cooper Union</a></li>
				<li><a href="{{ site.baseurl }}/why-cooper-unions-tuition-fight-matters-for-the-future-of-art-by-ben-davis/">Why Cooper Union’s Tuition Fight Matters for the Future of Art</a></li>
				<li><a href="{{ site.baseurl }}/organizing-as-if-social-relations-matter-by-cindy-milstein/">Organizing As If Social Relations Matter</a></li>
				<li><a href="{{ site.baseurl }}/academy-fight-song-by-thomas-frank/">Academy Fight Song</a></li>
				<li><a href="{{ site.baseurl }}/why-cooper-union-matters-by-litia-perta/">Why Cooper Union Matters</a></li>
				<li><a href="{{ site.baseurl }}/removing-barriers-mobilizes-resources-by-david-gersten/">Removing Barriers Mobilizes Resources</a></li>
				<li><a href="{{ site.baseurl }}/an-appeal-to-the-cooper-community-by-sam-rosner/">An Appeal to the Cooper Community</a></li>
				<li><a href="{{ site.baseurl }}/two-educations-for-the-price-of-none-by-jakob-biernat/">Two Educations for the Price of None</a></li>
				<li><a href="{{ site.baseurl }}/save-cooper-union-by-sangu-iyer/">Save Cooper Union</a></li>
				<li><a href="{{ site.baseurl }}/you-cant-just-end-an-era-by-sangu-iyer/">You Can’t Just End an Era</a></li>
				<li><a href="{{ site.baseurl }}/the-tragedy-of-cooper-union-by-felix-salmon/">The Tragedy of Cooper Union (A Six-Part Series)</a></li>
			</ul>
		</section>
		<section class="footnotes">
			<span class="heading"><h2 class="section">Footnotes</h2></span>
			<ul>
				<li><a href="{{ site.baseurl }}/198/#content" class="title">198 Methods of Direct Action</a></li>
				<li><a href="{{ site.baseurl }}/ask/#content" class="title">Ask a Question</a></li>
				<li><a href="{{ site.baseurl }}/further-reading/#content" class="title">Further Reading</a></li>
				<li><a href="{{ site.baseurl }}/glossary/#content" class="title">Glossary</a></li>
				<li><a href="{{ site.baseurl }}/press/#content" class="title">Press Log</a></li>
				<li><a href="{{ site.baseurl }}/solidarity/#content" class="title">Solidarity Map</a></li>
				<li><a href="{{ site.baseurl }}/spectrum/#content" class="title">Spectrum of Allies</a></li>
				<li><a href="{{ site.baseurl }}/timeline/#content" class="title">Timeline</a></li>
				<li><a href="{{ site.baseurl }}/why-jamshed-bharucha-must-step-down/#content" class="title">Why Jamshed Bharucha Must Step Down</a></li>
			</ul>
		</section>
	</section>
</nav>
{% endif %}
<section id="content" style="background-image:url('{{site.baseurl}}/img/section-heading-background/{{page.background}}');">
 {{ content }}
 </section>
<footer>
{% if page.bg == "dark" %}
<a href="/"><img src="{{site.baseurl}}/img/logo-bw-invert.png" width="100" title="Free Cooper Union" /></a>
<style>
	body{
		background:#000;
	}
	h1 {
		color:#fff;
	}
</style>
{% else %}
<a href="/"><img src="{{site.baseurl}}/img/logo-bw.png" width="100" title="Free Cooper Union" /></a>
{% endif %}
<p>STAY FREE OR DIE TRYIN&apos;</p>
</footer>
<footer id="donate">
	<h2>Order Printed Reader</h2>
	<p>Support Free Cooper's ongoing organizing by ordering a printed copy of our Disorientation reader.</p>
	<a href='https://mkt.com/freecooperunion' class='sq-embed-menu' data-menu-item-images='large' data-menu-accent-color='ff0000' data-menu-template='row' data-menu-border='show' data-menu-item-descriptions='show' >Order Online</a>
	<script src="https://cdn.sq-api.com/market/embed.js" charset="utf-8"></script>
</footer>
<!-- start popup -->
<div id="CoverPop-cover" class="splash CoverPop-close">
	<div class="CoverPop-content splash-center">
		<div class="signup">
			<h2>Be the first to hear about the next occupation.</h2>
			<!-- Begin MailChimp Signup Form -->
			<div id="mc_embed_signup">
			<form action="http://cusos.us7.list-manage1.com/subscribe/post-json?u=964ad2f631fe6f5f4389676d5&id=09a81f83ae&c=?" method="get" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
			    <div id="mc_embed_signup_scroll">
			    <p class="error" style="display:none;">Hm. There was an error. Double check and try again!</p>
				<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="president@cooper.edu" required>
			    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
			    <div style="position: absolute; left: -5000px;"><input type="text" name="b_964ad2f631fe6f5f4389676d5_09a81f83ae" tabindex="-1" value=""></div>
			    <div class="clear"><input type="submit" value="Join Email List" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
			    </div>
			</form>
			</div>
			<!--End mc_embed_signup-->
			<a class="CoverPop-close" href="#">or skip signup</a>
			<div class="success" style="display:none;">
				<h2>Success!</h2>
				<p>Don't forget to click the link in your inbox to complete your subscription.</p>
			</div>
		</div>
	</div><!--end .splash-center -->
</div><!--end .splash -->
<!-- end popup -->
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.2/fastclick.min.js"></script>
<script src="{{site.baseurl}}/js/CoverPop.min.js"></script>
<script>
	CoverPop.start();

	$(document).ready( function () {
	    // I only have one form on the page but you can be more specific if need be.
	    var $form = $('form');

	    if ( $form.length > 0 ) {
	        $('form input[type="submit"]').bind('click', function ( event ) {
	            if ( event ) event.preventDefault();
	            // validate_input() is a validation function I wrote, you'll have to substitute this with your own.
	            register($form);
	        });
	    }
	});

	function register($form) {
	    $.ajax({
	        type: $form.attr('method'),
	        url: $form.attr('action'),
	        data: $form.serialize(),
	        cache       : false,
	        dataType    : 'json',
	        contentType: "application/json; charset=utf-8",
	        error       : function(err) { alert("Could not connect to the registration server. Please try again later."); },
	        success     : function(data) {
	            if (data.result != "success") {
	                $(".error").show();
	            } else {
	            	$(".signup").hide();
	            	$(".success").show();
	                setTimeout(function() {CoverPop.close();},1250);
	            }
	        }
	    });
	}

	$( "#menu-toggle" ).click(function() {
		this.classList.toggle( "active" );
		$("nav#main").toggleClass("active");
		$( ".nav-wrapper" ).slideToggle( "slow");
	});

	window.addEventListener('load', function() {
		FastClick.attach(document.body);
	}, false);
</script>
<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
</body>
</html>
