<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	<meta name="viewport" content="width = device-width, initial-scale = 1.0,maximum-scale = 1.0" />
	<link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
	<script>
		// Picture element HTML5 shiv
		document.createElement( "picture" );
	</script>
	<script src="{{ site.baseurl }}/js/picturefill.min.js" async></script>
</head>
<body id="{{page.url | replace: "/", "" | replace: ".html", ""}}" class="{{page.collection}}">
{% if page.body_id != "index" %}
<nav id="main">
	<span class="heading"><h2 class="title"><a href="#" id="menu-toggle" class="section-heading">Disorientation</a></h2></span>
	<section style="display:none;" class="nav-wrapper">
		<section>
			<ol>
				<li><a href="{{ site.baseurl }}">Home</a></li>
			</ol>
		</section>
		<section class="lowdown">
			<span class="heading"><h2 class="section">Lowdown</h2></span>
			<ol>
				<li><a href="{{ site.baseurl }}/direct-action-and-free-cooper-union/">Direct Action &amp; Free Cooper Union</a></li>
				<li><a href="{{ site.baseurl }}/ivory-tower/">Ivory Tower</a></li>
				<li><a href="{{ site.baseurl }}/working-group/">Working Group</a></li>
				<li><a href="{{ site.baseurl }}/legal-action-and-the-committee-to-save-cooper-union/">Legal Action &amp; The Committee to Save Cooper Union</a></li>
				<li><a href="{{ site.baseurl }}/code-of-conduct-and-campus-militarization/">Code of Conduct &amp; Campus Militarization</a></li>
				<li><a href="{{ site.baseurl }}/half-tuition-and-new-tuition/">Half-Tuition and New Tuition</a></li>
				<li><a href="{{ site.baseurl }}/attorney-general-investigates/">Attorney General Investigates</a></li>
				<li><a href="{{ site.baseurl }}/vision/">Vision Platter Deluxe</a></li>
			</ol>
		</section>
		<section class="background">
			<span class="heading"><h2 class="section">Background</h2></span>
			<nav></nav>
			<ul>
				<li><a href="{{ site.baseurl }}/the-state-of-the-cooper-union-by-mike-borkowsky/">The State of the Cooper Union</a></li>
				<li><a href="{{ site.baseurl }}/open-letter-to-president-bharucha-by-walid-raad/">Open Letter to President Bharucha</a></li>
				<li><a href="{{ site.baseurl }}/the-loss-of-cooper-union-by-jordan-bowen/">The Loss of Cooper Union</a></li>
				<li><a href="{{ site.baseurl }}/why-cooper-unions-tuition-fight-matters-for-the-future-of-art-by-ben-davis/">Why Cooper Union’s Tuition Fight Matters for the Future of Art</a></li>
				<li><a href="{{ site.baseurl }}/organizing-as-if-social-relations-matter-by-cindy-milstein/">Organizing As If Social Relations Matter</a></li>
				<li><a href="{{ site.baseurl }}/academy-fight-song-by-thomas-frank/">Academy Fight Song</a></li>
				<li><a href="{{ site.baseurl }}/why-cooper-union-matters-by-litia-perta/">Why Cooper Union Matters</a></li>
				<li><a href="{{ site.baseurl }}/removing-barriers-mobilizes-resources-by-david-gersten/">Removing Barriers Mobilizes Resources</a></li>
				<li><a href="{{ site.baseurl }}/an-appeal-to-the-cooper-community-by-sam-rosner/">An Appeal to the Cooper Community</a></li>
				<li><a href="{{ site.baseurl }}/two-educations-for-the-price-of-none-by-jakob-biernat/">Two Educations for the Price of None</a></li>
				<li><a href="{{ site.baseurl }}/save-cooper-union-by-sangu-iyer/">Save Cooper Union</a></li>
				<li><a href="{{ site.baseurl }}/you-cant-just-end-an-era-by-sangu-iyer/">You Can’t Just End an Era</a></li>
				<li><a href="{{ site.baseurl }}/the-tragedy-of-cooper-union-by-felix-salmon/">The Tragedy of Cooper Union (A Six-Part Series)</a></li>
			</ul>
		</section>
		<section class="footnotes">
			<span class="heading"><h2 class="section">Footnotes</h2></span>
			<ul>
				<li><a href="{{ site.baseurl }}/198/#content" class="title">198 Methods of Direct Action</a></li>
				<li><a href="{{ site.baseurl }}/ask/#content" class="title">Ask a Question</a></li>
				<li><a href="{{ site.baseurl }}/further-reading/#content" class="title">Further Reading</a></li>
				<li><a href="{{ site.baseurl }}/glossary/#content" class="title">Glossary</a></li>
				<li><a href="{{ site.baseurl }}/press/#content" class="title">Press Log</a></li>
				<li><a href="{{ site.baseurl }}/solidarity/#content" class="title">Solidarity Map</a></li>
				<li><a href="{{ site.baseurl }}/spectrum/#content" class="title">Spectrum of Allies</a></li>
				<li><a href="{{ site.baseurl }}/timeline/#content" class="title">Timeline</a></li>
				<li><a href="{{ site.baseurl }}/why-jamshed-bharucha-must-step-down/#content" class="title">Why Jamshed Bharucha Must Step Down</a></li>
			</ul>
		</section>
	</section>
</nav>
{% endif %}
<section id="content" {% if page.background %}style="background-image:url('{{site.baseurl}}/img/section-heading-background/{{page.background}}');"{% endif %}>
 {{ content }}
 </section>
<footer>
{% if page.bg == "dark" %}
<a href="/"><img src="{{site.baseurl}}/img/logo-bw-invert.png" width="100" title="Free Cooper Union" /></a>
<style>
	body{
		background:#000;
	}
	h1 {
		color:#fff;
	}
</style>
{% else %}
<a href="/"><img src="{{site.baseurl}}/img/logo-bw.png" width="100" title="Free Cooper Union" /></a>
{% endif %}
<p>STAY FREE OR DIE TRYIN&apos;</p>
</footer>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.2/fastclick.min.js"></script>
<script>
	$( "#menu-toggle" ).click(function() {
		this.classList.toggle( "active" );
		$("nav#main").toggleClass("active");
		$( ".nav-wrapper" ).slideToggle( "slow");
	});

	window.addEventListener('load', function() {
		FastClick.attach(document.body);
	}, false);
</script>
</body>
</html>
