---
layout: default
---
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>
$(function() {
  $('a[href*=#]:not([href=#])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html,body').animate({
          scrollTop: target.offset().top
        }, 500);
        return false;
      }
    }
  });
});
</script>
<article>
	<a href="#intro"><figure id="cover" style="height:80vh;background:#000 url('{{site.baseurl}}/img/cover.jpg') no-repeat;background-position:center bottom;"></figure></a>
	<section class="intro" id="intro">
		<figure style="padding:0 5vw;width:90vw;">
			<img src="{{site.baseurl}}/img/titles/disorientation.svg" alt="Disorientation">
		</figure>
		<nav id="teaser-nav">
			<ol class="clearfix">
				<li><a href="#lowdown">
					<span class="heading"><h2 class="section"><strong>1.</strong> Lowdown</h2></span>
					<p class="intro">Brief introductions to the things you need to know: recent developments, active groups, and ongoing issues.</p>
				</a></li>
				<li><a href="#toolkit">
					<span class="heading"><h2 class="section"><strong>2.</strong> Toolkit</h2></span>
					<p class="intro">Reference documents that translate confusing jargon; highlight important events, key people, and groups; and provide links to media coverage, ideas for action, and further reading.</p>
				</a></li>
				<li><a href="#background">
					<span class="heading"><h2 class="section"><strong>3.</strong> Background</h2></span>
					<p class="intro">These selected essays dig into why Cooper matters, what’s going wrong with education everywhere, and how we might fix it.</p>
				</a></li>
			</ol>
		</nav>

		{{ page.intro | markdownify }}
	</section>
	<section class="fired">
		<figure>
			<img src="{{site.baseurl}}/img/titles/jamshed-is-fired.svg" alt="{{ page.title }}" style="width:80%;margin:2em auto;">
		</figure>
		{{ page.fired | markdownify }}
	</section>
	<section id="lowdown" class="clearfix invert">
		<span class="heading"><h2 class="section">Lowdown</h2></span>
		<p class="intro">Brief introductions to the things you need to know: recent developments, active groups, and ongoing issues.</p>
			<nav class="boxes" id="lowdown-nav">
				<ol>
					{% for order in (1..8) %}
						{% for item in site.lowdown | sort: 'title' %}
							{% if item.order == order %}
							<li>
								<a href="{{site.baseurl}}{{item.url}}" class="title {{item.url | replace: "/", ""}}"><strong>{{item.order}}.</strong> {{item.title}}</a>
							</li>
							{% endif %}
						{% endfor %}
					{% endfor %}
				</ol>
			</nav>
	</section>
	<section id="toolkit">
		<span class="heading"><h2 class="section">Toolkit</h2></span>
		<p class="intro">Reference documents that translate confusing jargon; highlight important events, key people, and groups; and provide links to media coverage, ideas for action, and further reading.</p>
		<nav>
			<ul>
				{% for item in site.toolkit %}
				<li>
					<a href="{{site.baseurl}}{{item.url}}" class="title">{{item.title}}</a>
				</li>
				{% endfor %}
			</ul>
		</nav>
	</section>
	<section id="background">
		<span class="heading"><h2 class="section">Background</h2></span>
		<p class="intro">These selected essays dig into why Cooper matters, what’s going wrong with education everywhere, and how we might fix it.</p>
		<nav>
			<ul>
				{% for order in (1..15) %}
					{% for item in site.background %}
						{% if item.order == order %}
							<li>
								<a href="{{site.baseurl}}{{item.url}}" class="title">
									<h3>{{item.title}}</h3>
									{% if item.subtitle %}{{ item.subtitle | markdownify }}{% endif %}
								</a>
							</li>
						{% endif %}
					{% endfor %}
				{% endfor %}				
			</dl>
		</nav>
	</section>
	<section>
		<span class="heading"><h2 class="section">Colophon</h2></span>
	</section>
	{{content}}
	<hr>
	<section>
		<span class="heading"><h2 class="section">Download + Print</h2></span>
		<h3>2014</h3>
			<p><a href="{{site.baseurl}}/download/2014-disorientation-reader-spreads.pdf">PDF (spreads, 5.4mb, for reading on screen)</a></p>
		<h3>2013</h3>
		<p>
			<a href="{{site.baseurl}}/download/2013-disorientation-reader-pages.pdf">PDF (pages, 8.3mb, for reading on screen)</a><br><br>
			<a href="{{site.baseurl}}/download/2013-disorientation-reader-booklet.pdf">PDF (booklet, 8.3mb, for double-sided printing and stapling)</a>
		</p>
	</section>
	<hr>
</article>