---
layout: default
---
<article>
	<header>
		<img src="{{site.baseurl}}/img/section-heading/disorientation-reader-2014.jpg">
	</header>
	{{ page.intro | markdownify }}
	<section>
		<header class="section-heading">
			<img src="{{site.baseurl}}/img/collage/foundation.png" alt="">
			<h2>Lowdown</h2>
		</header>
		<p>Brief introductions to the things you need to know: recent developments, active groups, and ongoing issues.</p>
			<nav>
				<ol>
					{% for order in (1..7) %}
						{% for item in site.lowdown | sort: 'title' %}
							{% if item.order == order %}
							<li>
								<a href="{{site.baseurl}}{{item.url}}#content" class="title">{{item.title}}</a>
							</li>
							{% endif %}
						{% endfor %}
					{% endfor %}
				</ol>
			</nav>
	</section>
	<section>
		<header class="section-heading">
			<img src="{{site.baseurl}}/img/section-heading/flip-your-umbrella.png">
			<h2>Resources</h2>
		</header>
		<nav>
			<ul>
				{% for item in site.resources %}
				<li>
					<a href="{{site.baseurl}}{{item.url}}#content" class="title">{{item.title}}</a>
				</li>
				{% endfor %}
			</ul>
		</nav>
	</section>
	<section>
		<header class="section-heading">
			<img src="{{site.baseurl}}/img/section-heading/the-best-cards.png" alt="">
			<h2>Background</h2>
			<p>These selected essays dig into why Cooper matters, what’s going wrong with education everywhere, and how we might fix it.</p>
		</header>
			<nav>
				<dl>
					{% for order in (1..15) %}
						{% for item in site.background %}
							{% if item.order == order %}
								<dt>
									<a href="{{site.baseurl}}{{item.url}}#content" class="title">{{item.title}}</a>
								</dt>
								{% if item.subtitle %}<dd>{{ item.subtitle | markdownify }}</dd>{% endif %}
							{% endif %}
						{% endfor %}
					{% endfor %}				
				</dl>
			</nav>
	</section>
	<section>
		<header class="section-heading">
			<h2>Colophon</h2>
		</header>
	</section>
	{{content}}
	<hr>
	<section>
		<header class="section-heading">
			<h2>Download + Print</h2>
		</header>
		<p>
			<a href="{{site.baseurl}}/download/disorientation-reader-pages.pdf">Sequential pages PDF (good for reading on screen).</a><br><br>
			<a href="{{site.baseurl}}/download/disorientation-reader-booklet.pdf">Imposed PDF (good for double-sided printing and stapling).</a>
		</p>
	</section>
	<hr>
</article>

<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/jquery.fittext.js"></script>
// <script>
// 	$(document).ready(function(){
// 		jQuery("h2").fitText(.25);
// 	});
// </script>