<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{ page.title }}</title>
	<meta name="viewport" content="width = device-width, initial-scale = 1.0,maximum-scale = 1.0" />
	<link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
	<style>
		#content {
			max-width:none;
		}
	</style>
</head>
<body {% if page.body_id %}id="{{ page.body_id }}"{% endif %} class="{{page.collection}}">
{% if page.body_id != "index" %}
<nav id="main">
  <h2 class="title"><a href="/" class="section-heading">Disorentiation</a></h2>

  <h2 class="section"><a href="/direct-action-and-free-cooper-union/">Lowdown</a></h2>

  <ol>
    <li><a href="/direct-action-and-free-cooper-union/" class="current">Direct Action
    &amp; Free Cooper Union</a></li>

    <li><a href="/ivory-tower/">Ivory Tower</a></li>

    <li><a href="/working-group/">Working Group</a></li>

    <li><a href="/legal-action-and-the-committee-to-save-cooper-union/">Legal Action
    &amp; The Committee to Save Cooper Union</a></li>

    <li><a href="/code-of-conduct-and-campus-militarization/">Code of Conduct &amp;
    Campus Militarization</a></li>

    <li><a href="/vision/">Vision Platter Deluxe</a></li>
  </ol>

  <h2 class="section"><a href=
  "/the-state-of-the-cooper-union-by-mike-borkowsky/">Background</a></h2>

  <ul>
    <li><a href="/the-state-of-the-cooper-union-by-mike-borkowsky/">The State of the
    Cooper Union</a></li>

    <li><a href="/open-letter-to-president-bharucha-by-walid-raad/">Open Letter to
    President Bharucha</a></li>

    <li><a href="/the-loss-of-cooper-union-by-jordan-bowen/">The Loss of Cooper
    Union</a></li>

    <li><a href=
    "/why-cooper-unions-tuition-fight-matters-for-the-future-of-art-by-ben-davis/">Why
    Cooper Union&rsquo;s Tuition Fight Matters for the Future of Art</a></li>

    <li><a href="/organizing-as-if-social-relations-matter-by-cindy-milstein/">Organizing
    As If Social Relations Matter</a></li>

    <li><a href="/academy-fight-song-by-thomas-frank/">Academy Fight Song</a></li>

    <li><a href="/why-cooper-union-matters-by-litia-perta/">Why Cooper Union
    Matters</a></li>

    <li><a href="/removing-barriers-mobilizes-resources-by-david-gersten/">Removing
    Barriers Mobilizes Resources</a></li>

    <li><a href="/an-appeal-to-the-cooper-community-by-sam-rosner/">An Appeal to the
    Cooper Community</a></li>

    <li><a href="/two-educations-for-the-price-of-none-by-jakob-biernat/">Two Educations
    for the Price of None</a></li>

    <li><a href="/save-cooper-union-by-sangu-iyer/">Save Cooper Union</a></li>

    <li><a href="/you-cant-just-end-an-era-by-sangu-iyer/">You Can&rsquo;t Just End an
    Era</a></li>

    <li><a href="/the-tragedy-of-cooper-union-by-felix-salmon/">The Tragedy of Cooper
    Union (A Six-Part Series)</a></li>
  </ul>
</nav>
{% endif %}
<section id="content">
	<h1>{{page.title}}</h1>
	{{ content }}
 </section>
<footer>
{% if page.bg == "dark" %}
<a href="/"><img src="{{site.baseurl}}/img/logo-bw-invert.png" width="100" title="Free Cooper Union" /></a>
<style>
	body{
		background:#000;
	}
	h1 {
		color:#fff;
	}
</style>
{% else %}
<a href="/"><img src="{{site.baseurl}}/img/logo-bw.png" width="100" title="Free Cooper Union" /></a>
{% endif %}
<p>Stay Free or Die Tryin&apos;</p>
</footer>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.2/fastclick.min.js"></script>
<script>
	window.addEventListener('load', function() {
		FastClick.attach(document.body);
	}, false);
</script>
</body>
</html>
