---
body_id: notes-single
layout: default
---
<header>
	<h1>{{ page.title }}</h1>
	<section>
		<abbr title="Date taken:">📅</abbr> {{ page.date | date:"%B %d, %Y" }} &nbsp;&nbsp;
		<abbr title="Notes taken by:">👤</abbr>
		{% for person in site.categories.people or for person in site.categories.ex-people %}
			{% for notetaker in page.notetaker %}
				{% if person.title == notetaker %}
					<a href="{{person.url}}" title="{{person.title}}" {% if page.title == person.title %}class="active"{% endif %}>{{notetaker}}</a>
				{% endif %}
			{% endfor %}
		{% endfor %}
	</section>
</header>
<section class="metadata">
	{% if page.filepath %}
		<strong>Tools</strong> <br />
		<a href="https://github.com/CooperASC/cooperasc.github.com/commits/master/{{ page.filepath }}">📑 Page history</a><br />
		<a href="http://prose.io/#CooperASC/cooperasc.github.com/edit/master/{{ page.filepath }}">📝 Suggest an edit</a>
	{% endif %}
	<br />
	<br />
	{% if page.tags %}
		<strong>{{ page.tags }} Meeting History</strong>
		<ul id="notes-list" class="list">
			{% for item in site.categories.notes %}
				{% if page.tags == item.tags %}
				<li>
					<a href="{{item.url}}">
						<span class="date">{{item.date | date:"%b %d, %Y"}}</span>
					</a>
				</li>
				{% endif %}
			{% endfor %}
		</ul>
	{% endif %}
</section>

{{content}}