---
layout: default
---

<h1>{{ page.title }}</h1>

{{ content }}
<div id="list">
	<div class="search-n-sort">
		<form style="display:inline;" action="http://google.com/search">
			<input type="hidden" name="sitesearch" value="cooperasc.github.com" />
			<input type="text" id="search" class="search" name="q" autocomplete="off" placeholder="Start typing to filter, hit return to search full-text." />
		</form>
	</div>
	<ul id="notes-list" class="list">
		{% for item in site.categories.notes %}
		<li>
			<a href="{{item.url}}">
				<h2 class="title">{{item.title}}</h2>
				<span class="tags">
					{% for tag in item.tags %}
						#{{ tag }}
					{% endfor %}
				</span>
				<span class="meta">
					<span class="date">📅 {{item.date | date:"%B %d, %Y"}}</span>
					<span class="notetaker">👤 {{item.notetaker}}</span>
				</span>
			</a>
		</li>
		{% endfor %}
	</ul>
</div>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css">
<script src="http://code.jquery.com/jquery-1.9.0.js"></script>
<script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
<script src="/js/list.min.js"></script>
<script>
	var options = {
		valueNames: [ 'date', 'title', 'tags', 'notetaker' ]
	};

	var featureList = new List('list', options);

  $(function() {
	var availableTags = [
	  "Andy Overton", // people
	  "Asher Mones",
	  "Casey Gollan",
	  "Charis Jackson-Barrios",
	  "DeVonn Francis",
	  "Jenny Eagleton",
	  "Kristi Cavataro",
	  "student-council", // meeting types
	  "faculty-administration",
	  "board-chair",
	  "fun",
	  "faculty",
	  "documents-received",
	  "art-student-body"
	];
	$( "#search" ).autocomplete({
	  source: availableTags
	});
  });

  $("#search").focus();
</script>

