---
body_id: notes-single
layout: default
---
<article>
	<header>
		<h1>{{ page.title }}</h1>
		{% if page.author %}<h2>by {{ page.author }}</h2>{% endif %}
		{% if page.date and page.publication %}
			<span>Originally published at <em>{% if page.link %}<a href="{{ page.link }}">{% endif %}{{ page.publication }}{% if page.link %}</a>{% endif %}</em>, {{ page.date }}.</span>
		{% elsif page.publication %}
			<span>Originally published by <em>{{ page.publication }}</em>.</span>
		{% elsif page.date %}
			<span>Originally published {{ page.date }}.</span>
		{% endif %}
		{% if page.img %}<img src="{{ page.img }}" alt="">{% endif %}
	</header>
	{{content}}
</article>