---
layout: default
---
<article>
	<header>
		<h1>{{ page.title }}</h1>
		<!-- <img src="/img/titles/{{page.url | replace: "/", ""}}.png" alt=""> -->
		{% if page.author %}<h2>by {{ page.author }}</h2>{% endif %}
		{% if page.date and page.publication %}
			<span>Originally published at <em>{% if page.link %}<a href="{{ page.link }}">{% endif %}{{ page.publication }}{% if page.link %}</a>{% endif %}</em>, {{ page.date }}.</span>
		{% elsif page.publication %}
			<span>Originally published by <em>{{ page.publication }}</em>.</span>
		{% elsif page.date %}
			<span>Originally published {{ page.date }}.</span>
		{% endif %}
		{% if page.img %}<img src="{{ page.img }}" alt="">{% endif %}
	</header>
	{{content}}
</article>
{% include section-nav.html %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
<script type="text/javascript" src="{{site.baseurl}}/js/okhover.js"></script>
<script>
  $(document).ready(function(){
		$('.hoverable').okhover({
			fadeIn: true,
			fadeOut: true,
			fadeInDuration: 200
		});
		$('.okhover').hover(function(){
			$('span').toggleClass('hover');
		});
  });
</script>
<style>
	p span {
		cursor:zoom-in;
		border-bottom:1px dotted gray;
	}
	p span.hover {
		background:rgba(255,255,255,.5);
	}
	p span:hover {
		background:rgba(255,255,255,1);
	}
</style>
