---
layout: default
---
<article class="fade-intro">{{content}}</article>
<header class="spectrum-header">
	<h2>Opponents</h2>
	<h2>&ldquo;Neutral&rdquo;</h2>
	<h2>Allies</h2>
</header>
<ul>
{% for group in site.data.groups %}
  <li id="{{ group.name | replace: ' ', '-' | downcase }}" class="group {% if group.span %}span-{{group.span}}{% endif %}" {% if group.info %}title="<strong>{{ group.name }}</strong><br><br>{{group.info}}"{% endif %}>
	{% if group.members or group.groups  %}
		<a class="toggle" href="#" onclick="return false"><strong>{{ group.name }}</strong></a>
	{% else %}
		<strong>{{ group.name }}</strong>
	{% endif %}
	<section>
		{% if group.members %}
			{% for members in group.members %}
				{% include member_ul.html %}
			{% endfor %}
		{% endif %}
		{% if group.groups %}
			<ul>
				{% for group in group.groups %}
				<li class="group {% if group.span %}span-{{group.span}}{% endif %}" {% if group.info %}title="<strong>{{ group.name }}</strong><br><br>{{group.info}}"{% endif %}>
				<strong>{{ group.name }}</strong>
				{% if group.members %}
					{% for members in group.members %}
						{% include member_ul.html %}
					{% endfor %}
				{% endif %}
				</li>
				{% endfor %}
			</ul>
		{% endif %}
	</section>
  </li>
{% endfor %}
</ul>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css" />
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.4/waypoints.min.js"></script>
<script src="{{site.baseurl}}/js/waypoints-sticky.min.js"></script>
<script type="text/javascript">
jQuery(document).ready(function() {
	//toggle the componenet with class msg_body
	jQuery("#content section").hide();
	jQuery(".toggle").click(function(){
		jQuery(this).next("section").slideToggle(500);
	});
    $( document ).tooltip({
		track: true,
		effect: "none",
		duration: 0,
		delay: 0,
		items: "[title]",
		content: function() {
		var element = $( this );
		if ( element.is( "[title]" ) ) {
			return element.attr( "title" );
		}
      }
    });
	$('.spectrum-header').waypoint('sticky');
	var url = self.document.location.hash.substring(1);
	// expand id via url hash
	$('#' + url + ' a').next('section').slideDown();

});
</script>
<style type="text/css">
.ui-tooltip {
	padding: 10px;
	color: #000;
	border-radius: 0;
	box-shadow:0 0px 10px rgba(0,0,0,.25);
	border:none;
	font-size: 1em;
}
.ui-widget {
	font-family:Avenir, sans-serif;
	font-size:16px;
	line-height:1.25em;
}
.spectrum-header.stuck {
	position:fixed;
	top:0;
	box-shadow:0 2px 4px rgba(0, 0, 0, .3);
}
.fade-intro {
	position:absolute;
	top:110px;
	left:20px;
	color:gray;
}
#content {
	position:relative;
}
</style>